@if (loading) {
<div
  class="fixed w-full h-full pointer-events-none flex flex-col items-center justify-center z-20"
>
  <spectrum-loading></spectrum-loading>
</div>
}

<div class="fixed top-3 left-3 z-10 group/backBtn">
  <button
    [routerLink]="returnUrl"
    class="btn delay-1000 -translate-x-40 smooth group-hover/backBtn:-translate-x-0 btn-primary btn-soft"
    [ngClass]="{
      'translate-x-0': controlsShown
    }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
      />
    </svg>

    <span>Indietro</span>
  </button>
</div>

<video id="plyrID" #plyrID controls playsinline class="h-0"></video>
