<div
  class="flex flex-col lg:flex-row min-h-screen max-h-screen overflow-hidden"
>
  <spectrum-nav
    class="lg:scale-[0.965] lg:px-2 z-[999]"
    [topItems]="topNav"
    [subtitle]="'Spectrum'"
  ></spectrum-nav>

  @if (!(availableStreams$ | async)?.length) {
  <div class="flex flex-col justify-center items-center size-full h-screen">
    <spectrum-loading></spectrum-loading>
    <label> Ottengo catalogo... </label>
  </div>
  } @else {
  <spectrum-search
    [streams$]="availableStreams$"
    class="my-auto w-full p-2 lg:p-5"
    (itemClicked)="playItem($event)"
  ></spectrum-search>
  }
</div>
