@reference "#tailwind.config";

.poster:before {
  content: " ";
  display: block;
  position: absolute;
  width: 7rem;
  height: 11rem;
  object-fit: cover;
  background-image: url("/assets/poster-not-found.webp");
}
